<section class="footer">
  <div class="container p-4">
    <hr />
    <div class="row mt-5">
      <div class="col-lg-4 col-sm-12">
        <div class="footer-info">
          <div class="footer-logo">
            <h4 class="mt-2">
              Encuéntra UTP+ Parking <span class="fw-bold">próximamente</span> en
              las siguientes tiendas:
            </h4>
          </div>
          <div class="row">
            <div class="col-md-6 mt-2">
              <div class="card border-light shadow-sm rounded">
                <div class="card-body text-center">
                  <span class="fw-bold"
                    ><i class="bx bxl-play-store"></i> Google Play</span
                  >
                </div>
              </div>
            </div>
            <div class="col-md-6 mt-2">
              <div class="card border-light shadow-sm rounded">
                <div class="card-body text-center">
                  <span class="fw-bold"
                    ><i class="bx bxl-apple"></i> Apple Play</span
                  >
                </div>
              </div>
            </div>
            <div class="col-md-6 mt-2">
              <div class="card border-light shadow-sm rounded">
                <div class="card-body text-center">
                  <span class="fw-bold"
                    ><i class="bx bxs-shopping-bag-alt"></i> AppGallery</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="footer-widget">
          <h3 class="fw-bold">Otras plataformas</h3>
          <ul class="list-unstyled">
            <li><a href="#">UTP+ portal</a></li>
            <li><a href="#">UTP+ class</a></li>
            <li><a href="#">UTP+ info</a></li>
            <li><a href="#">Correo Outlook</a></li>
            <li><a href="#">Microsoft 365</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="footer-widget">
          <h3 class="fw-bold">Contáctanos</h3>
          <ul class="list-unstyled">
            <li><a href="#">Lima (01) 315 9600</a></li>
            <li><a href="#">Provincias 0801 19 600</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="footer-widget">
          <h3 class="fw-bold">Equipo de desarrollo</h3>
          <ul class="list-unstyled">
            <li><a href="#">Sebastián Reyes</a></li>
            <li><a href="#">Luis Navarro</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
