<div class="sidebar">
  <div class="logo_details">
    <div class="logo_name">
      <img src="../../../../assets/images/logo.png" alt="Logo" width="180" class="d-inline-block align-text-top" />
    </div>
    <i class="bx bx-menu-alt-right" id="btn"></i>
  </div>
  <ul class="nav-list">
    <li>
      <a [routerLink]="['/']" *ngIf="this.rol !== 'JEFE_SEGURIDAD' && this.rol !== 'PERSONAL_SAE'">
        <i class="bx bxs-home-alt-2"></i>
        <span class="link_name">Menú principal</span>
      </a>
    </li>
    <li *ngIf="this.rol === 'PERSONAL_SAE'">
      <a [routerLink]="['/solicitudes']">
        <i class="bx bx-list-ul"></i>
        <span class="link_name">Solicitudes de ingreso</span>
      </a>
    </li>
    <li *ngIf="this.rol === 'ALUMNO' || this.rol === 'DOCENTE'">
      <a [routerLink]="['/registro']">
        <i class="bx bxs-car"></i>
        <span class="link_name">Registro de vehículo</span>
      </a>
    </li>
    <li *ngIf="this.rol === 'ALUMNO' || this.rol === 'DOCENTE'">
      <a [routerLink]="['/solicitudes']">
        <i class="bx bx-check-square"></i>
        <span class="link_name">Mis solicitudes</span>
      </a>
    </li>
    <li *ngIf="this.rol === 'SEGURIDAD'">
      <a [routerLink]="['/observaciones']">
        <i class="bx bxs-pencil"></i>
        <span class="link_name">Registrar Observación</span>
      </a>
    </li>
    <li *ngIf="this.rol === 'SEGURIDAD'">
      <a [routerLink]="['/observaciones/listar']">
        <i class="bx bx-list-ul"></i>
        <span class="link_name">Ver Observaciones</span>
      </a>
    </li>
    <li *ngIf="this.rol === 'JEFE_SEGURIDAD'">
      <a [routerLink]="['/seguridad/registrar']">
        <i class="bx bxs-pencil"></i>
        <span class="link_name">Registrar nuevo personal</span>
      </a>
    </li>
    <li *ngIf="this.rol === 'JEFE_SEGURIDAD'">
      <a [routerLink]="['/seguridad/listar']">
        <i class="bx bx-list-ul"></i>
        <span class="link_name">Ver personal</span>
      </a>
    </li>
    <!--li>
      <a href="#">
        <i class="bx bx-question-mark"></i>
        <span class="link_name">Ayuda</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-info-circle"></i>
        <span class="link_name">Reportar un problema</span>
      </a>
    </li-->
    <li class="profile">
      <div class="profile_details">
        <img src="../../../../assets/images/student.42525dea.svg" alt="profile image" class="p-1" />
        <div class="profile_content">
          <div class="name fw-bold">{{ nombre }} {{ apellido }}</div>
          <div class="designation">{{ codigo }}</div>
        </div>
      </div>
      <i (click)="logout()" class="bx bx-log-out" id="log_out"></i>
    </li>
  </ul>
</div>