<div class="sidebar">
  <div class="logo_details">
    <div class="logo_name">
      <img
        src="../../../../assets/images/logo.png"
        alt="Logo"
        width="180"
        class="d-inline-block align-text-top"
      />
    </div>
    <i class="bx bx-menu" id="btn"></i>
  </div>
  <ul class="nav-list">
    <li>
      <a href="#">
        <i class="bx bxs-car"></i>
        <span class="link_name">Registro de vehículo</span>
      </a>
      <span class="tooltip">Registro de vehículo</span>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-check-square"></i>
        <span class="link_name">Mis solicitudes</span>
      </a>
      <span class="tooltip">Mis solicitudes</span>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-question-mark' ></i>
        <span class="link_name">Ayuda</span>
      </a>
      <span class="tooltip">Ayuda</span>
    </li>
    <li class="profile">
      <div class="profile_details">
        <img
          src="../../../../assets/images/student.42525dea.svg"
          alt="profile image"
          class="p-1"
        />
        <div class="profile_content">
          <div class="name fw-bold">Sebastián Reyes</div>
          <div class="designation">U23201703</div>
        </div>
      </div>
      <i class="bx bx-log-out" id="log_out"></i>
    </li>
  </ul>
</div>
