<div>
  <app-slider />
  <section class="home-section">
    <app-navbar />
    <div class="container">
      <div class="container p-4 mt-2">
        <h2 *ngIf="this.rol === 'ALUMNO' || this.rol === 'DOCENTE'" class="fw-bold text-center">Mis solicitudes</h2>
        <h2 *ngIf="this.rol === 'PERSONAL_SAE'" class="fw-bold text-center">Solicitudes de Ingreso</h2>
        <div class="container mt-4">
          <div class="row justify-content-center">
            <div class="col-md-12 p-3">
              <div class="card p-2 border-light">
                <div class="card-body">
                  <!--Tabla para usuarios tipo DOCENTE Y ALUMNO-->
                  <div *ngIf="this.rol === 'ALUMNO' || this.rol === 'DOCENTE'" class="container table-responsive">
                    <div class="row">
                      <div class="col-md-8">
                        <p class="text-secondary mt-2 mb-0">
                          Puedes ver todos las solicitudes que realizaste aquí.
                        </p>
                        <a class="text-purple fw-bold" [routerLink]="['/registro']">Registra una nueva solicitud
                          aquí</a><br /><br />
                        <span>Para más información, puedes ingresar a la sección
                          <a class="text-purple fw-bold"
                            href="https://portal.utp.edu.pe/inicio/informacion-institucional"
                            target="_blank">información
                            institucional</a> en UTP+ portal.</span>
                      </div>
                      <!--div class="col-md-4">
                        <select class="form-select" aria-label="Default select example">
                          <option selected value="1">
                            Todas
                          </option>
                          <option value="2">Aceptadas</option>
                          <option value="3">Rechazadas</option>
                          <option value="4">Por verificar</option>
                        </select>
                      </div-->
                    </div>
                    <table class="table table-striped mt-3">
                      <thead class="table-dark">
                        <tr>
                          <th scope="col" class="fw-bold">#</th>
                          <th scope="col" class="fw-bold">
                            Fecha de solicitud
                          </th>
                          <th scope="col" class="fw-bold">Placa</th>
                          <th scope="col" class="fw-bold">Tipo de Vehículo</th>
                          <th scope="col" class="fw-bold">
                            Estado del trámite
                          </th>
                          <th scope="col" class="fw-bold">Comentario de SAE</th>
                          <th scope="col" class="fw-bold">
                            Fecha de solicitud finalizada
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let solicitud of solicitudes">
                          <th scope="row" class="fw-bold">{{solicitud.idSolicitud}}</th>
                          <td>{{solicitud.fechaSolicitud}}</td>
                          <td>{{solicitud.placa}}</td>
                          <td>{{solicitud.categoria}}</td>
                          <td>{{solicitud.estado}}</td>
                          <td class="comentario" style="cursor:pointer;" data-bs-toggle="modal"
                            [attr.data-bs-target]="'#staticBackdrop' + solicitud.idSolicitud">
                            Comentario
                          </td>
                          <div class="modal fade" [attr.id]="'staticBackdrop' + solicitud.idSolicitud"
                            data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                            aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h4 class="modal-title fw-bold" id="staticBackdropLabel">
                                    Comentario del SAE:
                                  </h4>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <span>{{solicitud.comentario}}</span><br />
                                </div>
                              </div>
                            </div>
                          </div>
                          <td *ngIf="solicitud.fechaRespuesta != null">{{solicitud.fechaRespuesta}}</td>
                          <td *ngIf="solicitud.fechaRespuesta == null">-</td>
                        </tr>
                      </tbody>
                    </table>
                    <a class="btn btn-success" target="_blank"
                      href="http://localhost:9898/api/v0/export/solicitudes/{{loginService.codigo}}">Exportar en
                      excel</a><br />
                  </div>
                  <!--TABLA PARA PERSONAL DE SAE-->
                  <div *ngIf="this.rol === 'PERSONAL_SAE'" class="container table-responsive">
                    <div class="row">
                      <div class="col-md-8">
                        <p class="text-secondary mt-2 mb-0">
                          Recuerda validar la solicitud antes de aceptarla según los estándares de validación de la UTP.
                        </p>
                      </div>
                      <!--div class="col-md-4">
                        <select class="form-select" aria-label="Default select example">
                          <option selected value="1">
                            Todas
                          </option>
                          <option value="2">Aceptadas</option>
                          <option value="3">Rechazadas</option>
                          <option value="4">Por verificar</option>
                        </select>
                      </div-->
                    </div>
                    <table class="table table-striped mt-5">
                      <thead class="table-dark">
                        <tr>
                          <th scope="col" class="fw-bold">#</th>
                          <th scope="col" class="fw-bold">
                            Fecha de solicitud
                          </th>
                          <th scope="col" class="fw-bold">Placa</th>
                          <th scope="col" class="fw-bold">Tipo de Vehículo</th>
                          <th scope="col" class="fw-bold">
                            Estado del trámite
                          </th>
                          <th scope="col" class="fw-bold">
                            Fecha de solicitud finalizada
                          </th>
                          <th scope="col" class="fw-bold">
                            Aceptar Solicitud
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let solicitud of solicitudesNoAceptadas">
                          <th scope="row" class="fw-bold">{{solicitud.idSolicitud}}</th>
                          <td>{{solicitud.fechaSolicitud}}</td>
                          <td>{{solicitud.placa}}</td>
                          <td>{{solicitud.categoria}}</td>
                          <td>{{solicitud.estado}}</td>
                          <td *ngIf="solicitud.fechaRespuesta != null">{{solicitud.fechaRespuesta}}</td>
                          <td *ngIf="solicitud.fechaRespuesta == null">-</td>
                          <td>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                              [attr.data-bs-target]="'#exampleModal'+solicitud.idSolicitud">
                              Validar Solicitud
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" [attr.id]="'exampleModal'+solicitud.idSolicitud" tabindex="-1"
                              aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-lg modal-dialog-centered">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Solicitud de Ingreso N°
                                      {{solicitud.idSolicitud}}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                      aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <span class="fw-bold">Placa: {{solicitud.placa}}</span><br />
                                    <span class="fw-bold">Tipo de vehículo: </span>{{solicitud.categoria}}<br />
                                    <span class="fw-bold">Apellidos: </span>{{solicitud.apellidos}}<br />
                                    <span class="fw-bold">Nombres: </span>{{solicitud.nombres}}<br />
                                    <span class="fw-bold">Correo: </span>{{solicitud.correoInstitucional}}<br />
                                    <span class="fw-bold">Categoría: </span>{{solicitud.role}}<br />
                                    <span class="fw-bold">Categoría: </span>{{solicitud.dni}}<br />
                                    <span *ngIf="solicitud.matriculado == true" class="fw-bold">Se encuentra
                                      matriculado: SÍ</span><br />
                                    <span *ngIf="solicitud.matriculado == false" class="fw-bold">Se encuentra
                                      matriculado: NO</span><br />
                                    <form [formGroup]="comentarioForm">
                                      <div class="mb-3">
                                        <label for="exampleFormControlTextarea1" class="form-label">Ingrese un
                                          comentario</label>
                                        <textarea class="form-control" formControlName="comentario"
                                          id="exampleFormControlTextarea1" rows="3"></textarea>
                                      </div>
                                    </form>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                                      (click)="denegarSolicitud(solicitud.idSolicitud)">Denegar</button>
                                    <button type="button" (click)="aceptarSolicitud(solicitud.idSolicitud)"
                                      class="btn btn-success">Aceptar</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <a class="btn btn-success" target="_blank"
                      href="http://localhost:9898/api/v0/export/solicitudes">Exportar en
                      excel</a><br />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>