<div *ngIf="userLoginOn" class="row p-2">
  <div *ngFor="let sede of sedes" class="col-md-4 mt-3">
    <div class="card border-light shadow-sm rounded">
      <div class="card-body">
        <h5 class="card-title fw-bold">{{ sede.nombre }}</h5>
        <h6 class="card-subtitle mb-3 text-muted">{{ sede.direccion }}</h6>
        <p
          [ngClass]="{
            'text-success':
              cantidadANumero(sede.cantidad) > 20 &&
              30 >= cantidadANumero(sede.cantidad),
            'text-warning':
              cantidadANumero(sede.cantidad) > 13 &&
              20 > cantidadANumero(sede.cantidad),
            'text-danger': 10 > cantidadANumero(sede.cantidad)
          }"
          class="text-center fw-bold"
        >
          Espacios disponibles {{ sede.cantidad }}/30 <i class="bx bxs-car"></i>
        </p>
        <div class="text-center">
          <a
            *ngIf="this.rol === 'ALUMNO' || this.rol === 'DOCENTE'"
            href="#"
            class="card-link text-purple"
            >Ver en el mapa <i class="bx bxs-map"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="this.rol === 'SEGURIDAD'" class="row mt-4 p-2">
  <hr />
  <div class="col-md-6 mt-3">
    <h4 class="mt-4 fw-bold">Ingreso de vehículos:</h4>
    <form [formGroup]="registroForm" class="row mt-3 g-3">
      <div class="col-auto">
        <label for="inputPassword2" class="visually-hidden">Placa</label>
        <input
          type="text"
          class="form-control"
          formControlName="placa"
          placeholder="Ingrese la placa"
        />
      </div>
      <div class="col-auto">
        <button
          type="submit"
          (click)="validarVehiculo()"
          class="btn btn-success mb-3"
        >
          Validar Placa
        </button>
      </div>
    </form>
  </div>
  <div class="col-md-6 mt-3">
    <h4 class="mt-4 fw-bold">Salida de vehículos:</h4>
    <form [formGroup]="salidaForm" class="row mt-3 g-3">
      <div class="col-auto">
        <label for="inputPassword2" class="visually-hidden">Password</label>
        <input
          type="text"
          class="form-control"
          formControlName="placa"
          placeholder="Ingrese la placa"
        />
      </div>
      <div class="col-auto">
        <button
          type="submit"
          (click)="registrarSalida()"
          class="btn btn-danger mb-3"
        >
          Confirmar Salida
        </button>
      </div>
    </form>
  </div>
</div>
