<div>
    <app-slider />
    <section class="home-section">
        <app-navbar />
        <div class="container">
            <div class="container p-4 mt-2">
                <h2 class="fw-bold text-center">Observaciones</h2>
                <div class="container mt-4">
                    <div class="row justify-content-center">
                        <div class="col-md-12 p-3">
                            <div class="card p-2 border-light">
                                <div class="card-body">
                                    <div class="container table-responsive">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <p class="text-secondary mt-2 mb-0">
                                                    Puedes ver todos los registros que cuentan con observaciones aquí.
                                                </p>
                                                <a class="text-purple fw-bold"
                                                    [routerLink]="['/observaciones']">Registra una nueva observación
                                                    aquí</a>
                                            </div>
                                        </div>
                                        <table class="table table-striped mt-3">
                                            <thead class="table-dark">
                                                <tr>
                                                    <th scope="col" class="fw-bold">#</th>
                                                    <th scope="col" class="fw-bold">
                                                        Fecha de ingreso
                                                    </th>
                                                    <th scope="col" class="fw-bold">
                                                        Hora de ingreso
                                                    </th>
                                                    <th scope="col" class="fw-bold">
                                                        Fecha de salida
                                                    </th>
                                                    <th scope="col" class="fw-bold">
                                                        Hora de salida
                                                    </th>
                                                    <th scope="col" class="fw-bold">Placa</th>
                                                    <th scope="col" class="fw-bold">Sede</th>
                                                    <th scope="col" class="fw-bold">
                                                        Detalle
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let registro of registros">
                                                    <th scope="row" class="fw-bold">{{registro.id_registro}}</th>
                                                    <th scope="row">{{registro.formatted_fecha_ingreso?.fecha}}</th>
                                                    <th scope="row">{{registro.formatted_fecha_ingreso?.hora}}</th>
                                                    <th scope="row">{{registro.formatted_fecha_salida?.fecha}}</th>
                                                    <th scope="row">{{registro.formatted_fecha_salida?.hora}}</th>
                                                    <th scope="row">{{registro.placaVehiculo}}</th>
                                                    <th scope="row">{{registro.nombreSede}}</th>
                                                    <th scope="row" class="comentario" style="cursor:pointer;"
                                                        data-bs-toggle="modal"
                                                        [attr.data-bs-target]="'#staticBackdrop' + registro.id_registro">
                                                        Detalle</th>
                                                    <div class="modal fade"
                                                        [attr.id]="'staticBackdrop' + registro.id_registro"
                                                        data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                                        aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                        <div class="modal-dialog modal-lg modal-dialog-centered">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title fw-bold"
                                                                        id="staticBackdropLabel">
                                                                        Detalle del registro N°
                                                                        {{registro.id_registro}}:
                                                                    </h4>
                                                                    <button type="button" class="btn-close"
                                                                        data-bs-dismiss="modal"
                                                                        aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <span class="fw-bold">Placa del
                                                                        vehículo:
                                                                    </span>{{registro.placaVehiculo}}<br />
                                                                    <span class="fw-bold">Código de Usuario:
                                                                    </span>{{registro.codigoUsuario}}<br />
                                                                    <span class="fw-bold">Nombre:
                                                                    </span>{{registro.nombreUsuario}}<br />
                                                                    <span class="fw-bold">Sede:
                                                                    </span>{{registro.nombreSede}}<br />
                                                                    <span class="fw-bold">Observación:</span><br />
                                                                    <span>{{registro.observacion}}</span><br />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>